# Npm
node_modules/
npm-debug.log

# Git
.gitkeep

# Github
.github/

# Lint
.eslintrc.js
.eslintrc.cjs
.eslintrc.json
.eslintignore
.stylelintrc.js
.stylelintrc.cjs

# Vscode
.vscode/
.editorconfig

# Commitlint
.commitlintrc.json

# LintStaged
.lintstagedrc.json

# ReleasePlease
.release-please-manifest.json
release-please-config.json

# Turbo
.turbo/
turbo.json

# Tests
coverage

# Docker
Dockerfile
.dockerignore
docker/

# Helm
helm/

# CI
ci/
!ci/scripts
