# Npm
node_modules
npm-debug.log

# Git
.gitkeep

# Lint
.eslintrc.js
.eslintrc.cjs
.eslintrc.json
.eslintignore
.stylelintrc.js
.stylelintrc.cjs

# Vscode
.editorconfig

# Commitlint
.commitlintrc.json

# LintStaged
.lintstagedrc.json

# Turbo
.turbo/
turbo.json

# Tests
coverage

# Docker
Dockerfile
.dockerignore
docker/

# Env
env/

# Helm
helm/

# CI
ci/
!ci/scripts
