apiVersion: v1
kind: Service
metadata:
  name: {{ include "template.api.fullname" . }}
  labels:
    {{- include "template.api.labels" . | nindent 4 }}
spec:
  type: {{ .Values.api.service.type }}
  ports:
    - port: {{ .Values.api.service.port }}
      targetPort: {{ .Values.api.container.port }}
      protocol: TCP
  selector:
    {{- include "template.api.selectorLabels" . | nindent 4 }}
